/* General setting */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f8f8f8;
  font-family: arial, sans-serif;
}
header,
footer {
  width: 90vw;
  margin: 0 auto;
}
.top-border {
  border-top: 4px solid #e5893b;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: white;
}
.center {
  text-align: center;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 10px 0;
}
/* Header section */
header,
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header {
  background-color: white;
}
nav {
  margin-right: 50px;
}
.logo {
  margin: 20px 30px;
}
nav a {
  text-decoration: none;
}
.nav-item {
  margin-right: 40px;
}
.nav-item a {
  color: #1a1a1a;
  font-weight: bold;
}
.nav-item p {
  color: #9b9b9b;
  text-transform: uppercase;
  font-size: 0.7em;
}
/* Main section */
section {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 0 auto;
}
.image {
  width: 860px;
}
.articles {
  width: 900px;
}
article {
  padding: 20px;
}
aside {
  width: 330px;
}
aside div {
  padding: 15px;
}
article h3,
article h5 {
  text-transform: uppercase;
  margin: 10px 0;
}
article h3 {
  font-size: 1.7em;
}
article h5 {
  color: #aaaaaa;
}
h5 span, .bolder {
  color: #919191;
}
article p {
  color: #868686;
}
.more {
  text-align: right;
}
.more a {
  text-decoration: none;
  color: #c8c3bf;
}
.pagination {
  padding: 30px;
}
.pagination a {
  text-decoration: none;
  padding: 2px 2px 2px 2px;
  color: #868686;
  margin-right: 10px;
}
.current-page {
  border-bottom: 1px solid #868686;
}
.search p {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold:
}
.search input {
  height: 24px;
}
.small-ad-container {
  display: flex;
  justify-content: space-between;
}
/* footer */
footer {

}
.footer-col, .copy-right-text {
  display: flex;
  justify-content: space-between;
}
.footer-col h3 {
  text-transform: uppercase;

}
.about, .recent-post, .tag  {
  width: 30%;
  padding: 20px;
}
.about p {
  color: #868686;
}
.recent-post ul {
  list-style-image: url('../img/arrow.png');
  list-style-position: inside;
}
.recent-post a {
  color: #868686;
  text-decoration: none;
}
.tag-decor {
  padding: 5px 10px;
  display: inline-block;
  border-left: 2px solid #e5893b;
  background: #e9e9e9;
}
.copy-right-text {
  padding: 20px;
}
.copy-right-text p {
color: #aaaaaa;
}
.copy-right-text a {
  text-decoration: none;
  color: #aaaaaa;
}
