/* General setting */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f8f8f8;
  font-family: arial, sans-serif;
}
header,
section,
footer {
  width: 80vw;
  margin: 0 auto;
}
.top-border {
  border-top: 4px solid #e5893b;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px 100px 20px 30px;
}
/* Header section */
header,
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header {
  background-color: white;
}
nav a {
  text-decoration: none;
}
.nav-item {
  margin-right: 40px;
}
.nav-item a {
  color: #1a1a1a;
  font-weight: bold;
}
.nav-item p {
  color: #9b9b9b;
  text-transform: uppercase;
  font-size: 0.7em;
}
